#author {
    position: absolute;
    left: 500px;
    top: 5px;
    color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mainLogo {
    position: absolute;
    left: 400px;
    top: 75px;
    width: 400px;
}
#title {
    position: absolute;
    left: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 300px;
    font-size: 20px;
    color: aliceblue;
    border-style: double;
}
#startButton {
    position: absolute;
    left: 550px;
    top: 380px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    color:#2c215c;
    border-radius: 10px;
    border-color: aliceblue;
    border-width: 10px;
    border-style: dotted; 
    font-size: 25px;
}